# Source Folders
################
builds/
resources/
sportsdrop_webservices/

# Node Modules
##############
sportsdrop_client/node_modules/
sportsdrop_webapp/node_modules/
sportsdrop_www/node_modules/