# Source Folders
################
builds/
resources/
services/apis/

# Node Modules
##############
services/apis/node_modules/
services/mobile/node_modules/
services/server/node_modules/
services/browser/node_modules/