# Source Folders
################
builds/
resources/
sportsdrop_webservices/

# Node Modules
##############
sportsdrop_mobile/node_modules/
sportsdrop_server/node_modules/
sportsdrop_web/node_modules/