<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-theme" ng-click="closeModal()">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
      <button class="button button-icon button-clear ion-{{platformID}}-arrow-back"></button> 
      </span>
    </div>
    <h1 class="title">New Group</a>
    </h1>
  </ion-header-bar>
  <button class="button button-fab button-fab-top-left button-theme icon ion-android-done" style="top: 65px; left: 80%;"
    ng-click="clickOK()"></button>
  <ion-content class="has-tabs-top platform" scroll="false">
    <div class="list">
      <label class="item item-input item-stacked-label">
            <span class="input-label">Group Name</span>
            <input type="text" placeholder="Type your name" ng-model="group.name">
        </label>
      <label class="item item-input item-stacked-label">
            <span class="input-label">Nickname</span>
            <input type="text" placeholder="Type your caption" ng-model="group.caption">
        </label>
    </div>
  </ion-content>
  </ion-modal-view>
