<div ng-controller="GroupCtrl" ng-init="community()">
  <ion-header-bar class="bar bar-header bar-theme" ui-sref="menu.groups">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
      <button class="button button-icon button-clear ion-{{platformID}}-arrow-back"></button> 
      </span>
    </div>
    <h1 class="title">Community</a>
    </h1>
  </ion-header-bar>
  <div class="has-header item-input-inset search-bar" style="z-index:0;">
    <label class="item-input-wrapper">
      <i class="icon ion-{{platformID}}-search placeholder-icon"></i>
      <input type="search" placeholder="" ng-change="persons = searchGroups(communityList)" ng-model="search.res">
    </label>
  </div>
  <ion-content class="has-tabs-top platform" scroll="false">
    <ion-scroll class="community-container">
      <div class="list">
        <div ng-repeat="person in persons">
          <div class="item item-avatar item-button-right" ng-class="person.blocked ? 'blocked' : 'null'">
            <img src="{{person.picture}}" ui-sref="profile({info: person})">
            <span ui-sref="profile({info: person})">
              <h2>{{person.name}}</h2>
              <p>{{person.email}}</p>
            </span>
            <div ng-hide="person.blocked" class="button person" ng-click="blockPerson(person)">
              <span>block</span>
            </div>
            <div ng-show="person.blocked" class="button person" ng-click="unBlockPerson(person)">
              <span>unblock</span>
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</div>
