<div>
  <ion-content scroll="false" ng-controller="ActivityCtrl">
    <section class="home-container">
      <div class="row header">
        <div class="col option-wheel">
          <div class="row" ui-sref="menu.groups">
            <div class="col text-center">
              <div class="icon" ui-sref="menu.groups">
                <i class="ion-{{platformID}}-people"></i></div>
              <h3>Groups</h3>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <div class="icon" ui-sref="menu.map">
                <i class="ion-map"></i>
              </div>
              <h3>Map</h3>
            </div>
            <div class="col text-center">
              <div class="icon" ng-click="searchGame()">
                <i class="ion-{{platformID}}-search"></i></div>
              <h3>Search</h3>
            </div>
          </div>
          <div class="row">
            <img id="profile-pic" src="{{account.picture}}" class="center" ui-sref="profile">
          </div>
          <div class="row">
            <div class="col text-center">
              <div class="icon" ui-sref="menu.activities">
                <i class="ion-navicon-round"></i></div>
              <h3>My Activity</h3>
            </div>
            <div class="col text-center">
              <div class="icon" ng-click="createOrEditGame()">
                <i ng-class="{true: 'ion-android-checkbox-outline', false: 'ion-ios-compose-outline'}[androidPlatform]"></i></div>
              <h3>New Game</h3>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <div class="icon" ng-click="logout()">
                <i class="ion-android-exit"></i></div>
              <h3>Logout</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col notification-list">
          <div class="home bar">
            <div class="h1 title title-left color">Notifications</div>
            <div ng-show="notificationList.length > 0" class="buttons buttons-right header-item">
              <span class="right-buttons">
                <button ng-click="clearAll()" class="button button-icon button-clear ng-class:{true: 'ion-android-delete', false: 'ion-ios-trash-outline'}[androidPlatform]"> 
                </button> 
                </span>
            </div>
          </div>
          <div class="content has-header" style="z-index:-1">
            <div class="list" ng-model="notificationList">
              <a ng-repeat="notification in notificationList" class="item item-avatar" style="transition-delay: 0.39s;">
                <img src="{{notification.picture}}">
                <h2>{{notification.title}}</h2>
                <p>{{notification.text}}</p>
              </a>
              <a class="item item-avatar">
                <span></span>
                <h2></h2>
                <p></p>
              </a>
              <div ng-hide="notificationList.length > 0" class="empty-list">
                <center><i class="icon ng-class:{true: 'ion-android-notifications', false: 'ion-ios-bell-outline'}[androidPlatform]"></i></center>
                <center>You have no new notifications</center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</div>
