<div>
  <ion-content scroll="false">
    <section class="register-container">
      <div class="form">
        <div class="list" style="margin-bottom: 5px">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input placeholder="Email" type="email" ng-model="user.email" required>
            </label>
          </div>
          <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input placeholder="Display Name" type="text" ng-model="user.name" required>
              </label>
            </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input placeholder="Old Password" type="password" ng-model="user.oldpassword" required>
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input placeholder="New Password" type="password" ng-model="user.newpassword" required>
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input placeholder="Confirm New Password" type="password" ng-model="user.confirmnewpassword" required>
            </label>
          </div>
        </div>
      </div>
      <div class="register-buttons">
        <button class="button button-block button-register" ng-click="resetPassword(user)">Send</button>
        <button class="button button-block button-cancel" ui-sref="login">Back to Log In</button>
      </div>
</div>
</section>
</ion-content>
</div>
