<div class="sportsdrop bar bar-header has-tabs-top">
</div>
<div class="tabs-striped tabs-top tabs-background-sportsdrop">
  <div class="sportsdrop tabs">
    <a class="tab-item" data-ink-opacity=".05" ui-sref=".map">
      <i class="icon ion-map"></i>Map
    </a>
    <a class="tab-item" data-ink-opacity=".05" ui-sref=".activities">
      <i class="icon ion-navicon-round"></i>My Activity
    </a>
    <a class="tab-item" data-ink-opacity=".05" ui-sref=".groups">
      <i class="icon ion-{{platformID}}-people"></i>My Groups
    </a>
  </div>
</div>
<div ui-view></div>
