<div ng-init="updateGamesList()">
  <div class="sportsdrop bar bar-header has-tabs-top">
    <div class="h1 title title-center color">My Activity</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button ng-click="openActions()" class="button button-icon button-clear ng-class:{true: 'ion-android-more-horizontal', false: 'ion-ios-more'}[androidPlatform]"></button> 
      </span>
    </div>
    <div class="buttons buttons-left header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-{{platformID}}-home" ui-sref="home"></button> 
        </span>
    </div>
  </div>
  <ion-content class="has-tabs-top platform">
    <ion-list can-swipe="true" swipe-direction="both">
      <ion-item class="item item-avatar item-icon-right item-activity" type="item-text-wrap" ng-repeat="game in gamesList track by $index"
        ng-click="openGame(game)">
        <img ng-src="{{game.tag_game_avatar}}">
        <h2>
          <i class="{{game.tag_game_posted_icon}}"></i>
          <!--<b>{{game.game_host === host ? 'Me': game.game_host}}: </b>-->
          <b>{{game.game_title}}: </b> {{game.tag_date}}, {{game.tag_time}}
        </h2>
        <p>{{game.game_address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button ng-show="host==game.game_host" side="right" class="button-light" ng-click="editGame(game)">
          <i class="icon ion-compose"></i>
        </ion-option-button>
        <ion-option-button side="right" class="button-light" ng-click="deleteGame(game)">
          <i class="icon ng-class:{true: 'ion-android-delete', false: 'ion-ios-trash-outline'}[androidPlatform]"></i>
        </ion-option-button>
        <div class="status {{game.tag_invite}}"></div>
      </ion-item>
    </ion-list>
    <div ng-hide="gamesList.length > 0" class="empty-list">
      <center><i class="icon ion-navicon-round"></i></center>
      <center>You currently have no activities</center>
    </div>
  </ion-content>
  <ion-footer-bar class="tabs tabs-icon-top sportsdrop bar-footer">
    <a ng-click="searchGame()" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ion-{{platformID}}-search"></i><b>Search</b></a>
    <a ng-show="!shouldShowAllGames" ng-click="updateGamesList()" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ng-class:{true: 'ion-social-buffer', false: 'ion-social-buffer-outline'}[androidPlatform]"></i><b>All Games</b></a>
    <a ng-show="shouldShowAllGames" ng-click="userGames()" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ion-android-done"></i><b>My Games</b></a>
    <a ng-click="createOrEditGame()" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ng-class:{true: 'ion-android-checkbox-outline', false: 'ion-ios-compose-outline'}[androidPlatform]"></i><b>New Game</b></a>
    <a ng-show="pushGame" ng-click="sendUnpostedGames()" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ng-class:{true: 'ion-android-time', false: 'ion-ios-clock-outline'}[androidPlatform]"></i><b>Resend</b></a>
  </ion-footer-bar>
</div>
