/*
* ===============================
*     MESSAGING PAGE
* ===============================
*/

.message-container {
  height: calc(100% - 70px);
  overflow-y: scroll;
  overflow: initial;
}

.bottom-message-input {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  background-color: var(--theme-default-white);
}

.bottom-message-input .item-input-wrapper {
  margin: 10px !important;
}

.bottom-message-input .icon {
  width: 15%;
  font-size: 30px;
  color: var(--theme-color-fcn-icons);
}

.bottom-message-input input[type="text"] {
  height: 45px;
}

div.message {
  padding: 30px 0 30px 58px;
  clear: both;
  margin: 0 10px 30px 0;
}

div.message.right {
  padding: 20px 60px 30px 0;
  margin: 35px 0 40px 10px;
}

.message img {
  float: left;
  margin-left: -38px;
  border-radius: 50%;
  width: 30px;
  margin-top: 12px;
}

div.message.right img {
  float: right;
  margin-left: 0;
  margin-right: -38px;
}

.message .bubble {
  background: var(--theme-chat-bubble);
  font-size: 13px;
  font-weight: 600;
  padding: 12px 13px;
  border-radius: 5px 5px 5px 0px;
  color: var(--theme-chat-bubble-text);
  position: relative;
  float: left;
  overflow-wrap: break-word;
  max-width: 300px;
}

div.message.right .bubble {
  float: right;
  border-radius: 5px 5px 0px 5px;
}

div.message.right .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
  left: auto;
  right: -5px;
}

.bubble .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
  position: absolute;
  width: 7px;
  height: 7px;
  left: -5px;
  bottom: 0;
}

.bubble span {
  color: var(--theme-chat-bubble-from);
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: -22px;
}

.bubble span.from {
  color: var(--theme-chat-bubble-from);
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: 100%;
}

.typist {
  font-size: 13px;
  font-weight: 400;
  padding: 12px 13px;
  border-radius: 5px 5px 5px 0px;
  color: var(--theme-chat-typist);
  letter-spacing: 2px;
}
