.action-sheet-title {
  font-size: 18px;
}

.action-sheet .button {
  text-transform: none;
  color: var(--theme-color-fcn-icons);
}

.action-sheet .button.destructive {
  color: #ff5b5b;
}

.button {
  box-shadow: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 42px;
  cursor: pointer;
}

.button.button-save {
  text-transform: none;
  font-size: 18px;
  border-color: var(--theme-color-buttons);
  background-color: var(--theme-color-buttons);
  color: var(--theme-color-menu-icons);
}

.button-save:active,
.button-save:hover {
  background-color: var(--theme-default-bg);
  color: var(--theme-default-white);
}

.button.button-cancel {
  font-size: 18px;
  text-transform: none;
  border-color: var(--theme-default-white);
  background-color: var(--theme-default-white);
  color: #ff5b5b;
}

.popup-head h3 {
  font-size: 15px;
  font-weight: 200;
  color: var(--theme-chat-bubble-from);
}

.popup-body {
  text-align: center;
}

.col {
  padding: 0px;
}

.row {
  padding: 0px;
}

.col h3 {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--theme-color-fcn-icons);
}

.col-65 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 65%;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
}

.col.option {
  padding-top: 10px;
}

.col.option>.button {
  padding-top: 10px;
}

.empty-list {
  top: 50%;
  left: 50%;
  font-size: initial;
  color: #cccccc;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
}

.empty-list i {
  font-size: -webkit-xxx-large;
}

.icon.custom {
  color: var(--theme-color-fcn-icons);
}

.sub-menu {
  display: flex;
  overflow: hidden;
  background-color: var(--theme-color-fcn-icons);
}

.sub-menu button {
  flex: 1;
  background-color: inherit;
  color: var(--theme-default-white);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  transition: 0.3s;
  font-size: 14px;
}

.tabcontent {
  display: none;
  padding: 5px;
  border-top: none;
}
