<ion-modal-view ng-controller="ActivityCtrl">
  <div class="bar bar-header bar-dialog-header">
    <div class="title title-center header-item">New Game</div>
    <div class="buttons buttons-right header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ng-class:{true: 'ion-close', false: 'ion-ios-close-empty'}[androidPlatform]" ng-click="closeModalView()"></button></span>
    </div>
  </div>
  <div class="content has-header">
    <div class="list">
      <div class="item item-input">
        <input type="text" placeholder="Title" ng-model="newGame.game_title">
      </div>
      <div class="item item-input">
        <input type="search" placeholder="Which Sport ?" ng-change="search('games')" ng-model="newGame.game_activity">
      </div>
      <div class="games" ng-show="data.games.length > 0">
        <ul ng-click="select(game, 'games')" ng-repeat="game in data.games">{{game.tag_game_type}}</ul>
      </div>
      <div class="item item-input">
        <span class="input-label">Where ?</span>
        <input id="placeSrch" type="search" placeholder="Enter a Location" ng-change="search('places')" ng-focus="scrollTo('placeSrch')"
          ng-model="newGame.game_address">
      </div>
      <div class="places">
        <ul ng-click="select(place, 'places')" ng-repeat="place in data.places track by $index">{{place.description}}</ul>
        <ul class="pac-logo" ng-show="data.places.length > 0"><img src="img/social/google-logo.png"></ul>
      </div>
      <div class="item item-input">
        <span class="input-label">When ?</span>
        <input type="date" ng-model="newGame.game_date"></input>
      </div>
      <div class="item item-input">
        <span class="input-label">What time ?</span>
        <input type="time" ng-model="newGame.game_date" formatted-time>
      </div>
      <div class="item item-input">
        <textarea id="comments" rows="5" placeholder="Comments" ng-model="newGame.game_comments" style="resize:none; padding-right: 16px"
          maxlength="100" ng-focus="scrollTo('comments')"></textarea>
      </div>
    </div>
  </div>
  <div class="bar tabs tabs-icon-top sportsdrop bar-footer">
    <a ng-click="searchOrSaveGame(true)" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ng-class:{true: 'ion-android-checkbox-outline', false: 'ion-ios-compose-outline'}[androidPlatform]"></i><b>Create</b></a>
  </div>
</ion-modal-view>
