<ion-modal-view ng-controller="ActivityCtrl">
  <div class="bar bar-header bar-dialog-header">
    <div class="title title-center header-item">Search</div>
    <div class="buttons buttons-right header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ng-class:{true: 'ion-close', false: 'ion-ios-close-empty'}[androidPlatform]" ng-click="closeModalView()"></button></span>
    </div>
  </div>
  <div class="content has-header">
    <div class="list">
      <tags-input ng-model="newGame.game_activity" placeholder="Any Sport" add-on-paste="true" add-on-space="true" add-on-enter="true">
      </tags-input>
      <div class="item item-input">
        <span class="input-label">Starting point:</span>
        <input id="placeSrch" type="text" placeholder="{{locationPlaceholder}}" ng-change="search('places')" ng-focus="scrollTo('placeSrch')"
          ng-model="newGame.game_address">
      </div>
      <div class="range">
        <i class="icon ion-{{platformID}}-search"></i>
        <input type="range" name="volume" min="1" max="50" step="1" value="{{newGame.search_radius}}" ng-model="newGame.search_radius">
        <i class="icon" style="font-size: 14px; font-weight: bold">{{newGame.search_radius}} km</i>
      </div>
      <div class="places">
        <ul ng-click="select(place, 'places')" ng-repeat="place in data.places track by $index">{{place.description}}</ul>
        <ul class="pac-logo" ng-show="data.places.length > 0"><img src="img/social/google-logo.png"></ul>
      </div>
      <div class="item item-input item-select">
        <span class="input-label">When ?</span>
        <select style="width:100%; direction:ltr; max-width:100%" ng-model="newGame.game_date">
            <option ng-hide="'{{newGame.game_date}}'" selected>{{newGame.game_date}}</option>
            <option ng-repeat="within in timeSelector">{{within.time}}</option>
        </select>
      </div>
      <div class="list card">
        <div class="item item-divider">
          Suggested Activities
        </div>
        <div class="games">
          <button ng-click="select(game, 'games')" ng-repeat="game in data.suggested">{{game.tag_game_type}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bar tabs tabs-icon-top sportsdrop bar-footer">
    <a ng-click="searchOrSaveGame(false)" class="tab-item" data-ink-color="{{inkColor()}}">
      <i class="icon ion-{{platformID}}-search"></i><b>Search</b></a>
  </div>
</ion-modal-view>
